body {
    --mediumGreen: rgba(92, 186, 163, 1);
    --lightGreen: #c8e8d9;
    font-family: 'Montserrat', sans-serif;

}

.bg-mediumGreen{
    background-color: var(--mediumGreen);
}
.bg-gradient-mediumGreen{
  background: rgb(161,221,196);
  background: linear-gradient(0deg, rgba(161,221,196,1) 0%, rgba(11,127,100,1) 100%);
}

.bg-lightGreen {
    background-color: var(--lightGreen);
}

input[type=checkbox]:checked+label span:first-of-type {
	background-color: var(--mediumGreen);
	border-color: var(--mediumGreen);
	color: #fff;
}

input[type=checkbox]:checked+label span:nth-of-type(2) {
	text-decoration: line-through;
	color: #9CA3AF;
}


body {
    /* Scrollbar width */
::-webkit-scrollbar {
    width: 0.3rem; /* Equivalent to w-2 in Tailwind */
  }
  
  /* Scrollbar track */
  ::-webkit-scrollbar-track {
    border-radius: 9999px; /* Equivalent to rounded-full */
    background-color: #f3f4f600; /* Equivalent to bg-gray-100 */
  }
  
  /* Scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    border-radius: 9999px; /* Equivalent to rounded-full */
    background-color: #d1d5db; /* Equivalent to bg-gray-300 */
  }
  
}